.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 290px;
    background: #fff;
    border-radius: 6px;
    box-shadow: var(--default-box-shadow);
    padding: 20px 16px 24px 20px;
}

.title {
    font-family: var(--font-outfit);
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-400);
    text-transform: capitalize;
}

.count {
    margin-top: 12px;
}

.description {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.descriptionText {
    margin-left: 4px;
}

.descriptionText span {
    font-weight: 400;
    color: var(--gren-200);
}

.arrow {
    width: 13px;
    height: 13px;
}
