.main {
  background: var(--blue-50);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 60px 50px;
  background: #fff;
  box-shadow: var(--default-box-shadow);
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
}

.input {
  margin-top: 28px;
}

.formSubmit {
  width: 100%;
}

.formHelp {
  margin-top: 12px;
  text-align: center;
}
