:root {
  --light: #fff;
  --dark: #000;

  --blue-50: #F8F9FC;
  --blue-100: #f7f9ff;
  --blue-200: #3C9DE4;
  --blue-300: #2583cb;

  --gray-100: #f1f1f1;
  --gray-200: #D6D6D6;
  --gray-300: #ababab;
  --gray-400: #858585;

  --gren-200: #30AE36;
  --gren-300: #1c8f21;

  --red-200: #E43C3C;

  --default-box-shadow: 0 0 6px 2px rgba(174, 198, 247, 0.25);
  --default-transition: all .16s linear;

  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: var(--font-inter);
  text-transform: capitalize;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

span, span > a {
  font-size: 15px;
  font-weight: 300;
  font-family: var(--font-outfit);
  text-transform: none;
}

a {
  text-decoration: none;
  color: var(--blue-300);
}

a:hover {
  text-decoration: underline;
}

input {
  font-family: var(--font-outfit);
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
  padding: 12px 16px;
  width: 280px;
  max-width: 100%;
}

input::placeholder {
  color: var(--gray-300);
}

input:hover, input:focus {
  outline: none;
  border-color: var(--blue-200);
  transition: var(--default-transition);
  box-shadow: var(--default-box-shadow);
}

button {
  text-align: center;
  background: var(--blue-200);
  border: none;
  border-radius: 4px;
  padding: 12px 0;
  color: var(--light);
  text-transform: capitalize;
  font-family: var(--font-outfit);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: var(--blue-300);
  transition: var(--default-transition);
}

ul, ul ul{
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 2px;
}


