.navLink  {
    padding: 12px 16px;
    font-family: var(--font-outfit);
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
}

.navLink:hover {
    cursor: pointer;
    background: var(--blue-100);
}

.navLink[data-selected='true'] {
    cursor: default;
    background:var(--blue-200);
}

.navLink[data-selected='true'] {
    color: var(--light);
}
